.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    padding: 70px 0;
    border: 3px ;
    text-align: center;
    color: yellow;
    }

body {
    background-image: url("./moon.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 300px 100px; */
    height: 100%;

  }

